
body{
    background-color: blanchedalmond;
}
.butterfly-kids-regular {
    font-family: "Butterfly Kids", cursive;
    font-weight: 400;
    font-style: normal;
    
  }



  .permanent-marker-regular {
    
    font-family: "Permanent Marker", cursive;
    align-items: center;
  
    font-weight: 400;
    font-style: normal;
  }

  .edu-nsw act foundation-letra1 {
    font-family: "Edu NSW ACT Foundation", cursive;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  